<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>姓名-计算属性</title>
        <!-- 引入VUE-->
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            姓:<input type="text" v-model="name">
            名:<input type="text" v-model="code">
            姓名:<span>{{fullname}}</span>
            <!--只要data中的数据发生改变,vue会重新解析模板,就会调用一次方法-->
        </div>
        <script type="text/javascript">
            Vue.config.productionTip = false
            const vm = new Vue({
                el:'#root', //el用于指定当前vue实例为哪个容器服务,但通常为css选择器字符串,id用#,class用.
                //el:document.getElementById('root')
                data() {//data存储数据供el所指定的容器使用
                    return {
                       name:'张',
                       code:'三',
                    }
                },
                computed: {//计算属性
                    fullname:{//计算结果
                        //计算属性存在缓存,依赖数据不发生改变时,第二次会读取缓存
                        get(){//当有人读取fallname时,get就会被调用,且返回值为fullname的值
                            //初次读取fullname时调用get,所依赖的数据发生变化时,get重新调用
                            console.log("get被调用了!")
                            return this.name+this.code
                        },
                        //fullname被修改时调用set
                        set(value){
                            fullname = value;
                            this.name = value.slice(0,1),
                            this.code = value.slice(1,2)
                        }
                    }
                },
            })//创建vue实例,传参为一个配置对象

        </script>
    </body>
</html>